{{!-- 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form | By Code Info</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <style>
    <span style="font-family: verdana, geneva, sans-serif;">*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: tomato;
}
.container{
    width: 100%;
    display: flex;
    max-width: 850px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.login{
    width: 400px;
}
form{
    width: 250px;
    margin: 60px auto;
}
h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

p{
    text-align: center;
    margin: 10px;
}
hr{
    border-top: 2px solid tomato;
}

.pic img{
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: tomato;
}
button:hover{
    background: rgba(214, 86, 64, 1);
}
p{
    margin: 20px;
}
a{
    color: black;
    text-decoration: none;
}
</span>
  </style>
    <div class="container">
        <div class="login">
            <form method="post" action="/admin/login">
                <h1> Login</h1>
                <hr>
                <p>Admin Login here.. </p>
                <label>Email</label><br>
                {{#if error}}  <span style="color: red;">Admin Not exist</span> {{/if}}
                {{#if err.email.path}} <span style="color: red;">{{err.email.msg}}</span>{{/if}}
                <input required type="email" name="email" placeholder="">
                <label>Password</label><br>
                {{#if err.password.path}} <span style="color: red;">{{err.password.msg}}</span>{{/if}}
                <input required type="password" name="password" placeholder="">
                <button style="background-color: blue;" type="submit" >Submit</button>
                 <p>
                    <a href="#">Forgot Password?</a> 
                </p>
                <button style="background-color: green;"><a style="color: white;" href="/">Back to App</a></button>
            </form>
        </div>
        <div class="pic">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNkZJZO6NvOYTqpyCGdANzp-kB-f5Vc3ivo9gbHwOoeiJUc2abNXlZqps9vQcUtjWICv8&usqp=CAU">
        </div>
    </div>

</body>
</html> 

 --}}




<div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
    
                   
                   
   
        
                   
                   
   
                   

                    <form class="main_form" action="/admin/login" method="post">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                {{#if error}}  <span style="color: red;">Admin Not exist</span> {{/if}}
                {{#if err.email.path}} <span style="color: red;">{{err.email.msg}}</span>{{/if}}
                              
                                <input class="form-control" placeholder="Enter Email" type="email" name="email">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                  {{#if err.password.path}} <span style="color: red;">{{err.password.msg}}</span>{{/if}}
                              
                                <input class="form-control" placeholder="Enter Password" type="password" name="password">
                            </div>
                            
                            
                            <div class=" col-md-12">
                                <button class="send" type="submit">Submit</button>
                            {{!-- <a href="/user_signup">Already Have an Account</a> --}}
                              {{!-- <a href="/user_forgotpassword" class="link-secondary text-decoration-none">Forgot Password</a><br> --}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 