<header class="header">
    <div class="logo">
      <a style="color: white;" href="#">Mobile Store</a>
      <div class="search_box">
        {{!-- <input type="text" placeholder="Search EasyPay">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i> --}}
      </div>
    </div>

    <div class="header-icons">
      <i class="fas fa-bell"></i>
      <div class="account">
        <img src="https://media.licdn.com/dms/image/D4E03AQFBeocNl5nSqg/profile-displayphoto-shrink_100_100/0/1686207530496?e=1708560000&v=beta&t=iq5b9Z1-T-mDI4oCqngKSFOImPQv0cWMXK8Ta-iQ6_A" alt="">
        <h4 style="color: white;">{{admin}}</h4>
      </div>
    </div>
  </header>